html {
    --bg: #151518;
    --menu-bg: #18181c;
    --border: #454545;
    --text: #fff;
}

body {
    color: var(--text);
    background-color: var(--bg);
    font-family: Arial, Helvetica, sans-serif;
}

label {
    display: block;
    font-size: 12px;
    color: #c9c9c9;
}

input,
textarea,
select {
    color: inherit;
    background-color: var(--menu-bg);
    border: 1px solid var(--border);
    font-family: inherit;
    min-height: 32px;
    width: 100%;
}

input[type=checkbox] {
    width: 2lh;
}

textarea {
    max-width: 100%;
}

input:focus,
textarea:focus {
    outline: none;
}

#widgets-container {
    display: block;
    width: 900px;
    height: 100%;
    margin: 0 auto;
}

#settings-btn {
    position: absolute;
}

#screen-dim {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    z-index: 2;
}

#sidebar {
    z-index: 3;
    background-color: var(--menu-bg);
    border-right: solid 1px var(--border);
    width: 400px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow-y: auto;
}

iframe {
    border-radius: 10px;
    border-style: none;
    width: 820px;
    height: 547px;
    margin: 0 auto;
    display: block;
    background-color: var(--menu-bg);
}

.widget-setting {
    background-color: var(--bg);
    border: 1px solid var(--border);
    border-radius: 6px;
    padding: 10px;
    margin: 15px 24px;
}

.widget-setting>h2 {
    margin: 0;
    display: inline;
}

.widget-setting>button {
    background-color: var(--menu-bg);
    border: 1px solid var(--border);
    color: var(--text);
    margin-left: 2px;
    float: right;
}

button:hover {
    filter: invert(0.2) contrast(1.2);
}

#add-widget-select-container {
    padding: 25px;
}

.widget-setting:first-child>.arrow-btn-up {
    display: none;
}

.widget-setting:last-child>.arrow-btn-down {
    display: none;
}

#settings-btn {
    border: none;
    background: none;
}

#settings-btn>img {
    width: 45px;
    filter: invert(1);
}